div(class=classDiv ? classDiv : null)
  input(
    class=classInput ? classInput : 'input-text'
    type=type ? type : 'text'
    autocomplete=autocomplete ? autocomplete : null
    value=value ? args.value : null
    placeholder=placeholder ? placeholder : label 
    id=id ? id : label
  )
  label(
    class=classLabel ? classLabel: 'input-label'
    for=label
  )= label
  if errorMessage 
    span.inputError= errorMessage
