block content

  li.chat
    .chat-image 
      img(src=avatar ? avatar : './assets/chat_avatar.svg' alt= name + ' avatar')
    .chat-message
      p.chats-name= name
      p.chats-text= intro
    .chat-info
      time.chats-time(datetime=time)= time
      div.unread-messeges= unread
    